[![pipeline status](https://git.admin.one2team.rod/puppet-modules/<%= name %>/badges/master/pipeline.svg)](https://git.admin.one2team.rod/puppet-modules/<%= name %>/commits/master)
[![coverage report](https://git.admin.one2team.rod/puppet-modules/<%= name %>/badges/master/coverage.svg)](https://git.admin.one2team.rod/puppet-modules/<%= name %>/commits/master)


1. Get the PDK !
2. pdk validate -a 
3. pdk test unit --parallel 

Reminder: The gitlab-ci coverage regex: coverage: (\d+.\d+%)